# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/.env
/application/.factorypath
/boot/.factorypath
/driven/postgres-repository/.factorypath
/driving/api-rest/.factorypath
/NUL
